@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),  url('../fonts/AmericanTypewriter.woff') format('woff'), url('../fonts/AmericanTypewriter.ttf')  format('truetype'), url('../fonts/AmericanTypewriter.svg#AmericanTypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}