// Medium devices eg tablet portrait
@media (max-width: 991px) {
  
}


// Small devices eg mobile
@media (max-width: 480px) {
  h1 {
    font-size: 5.5vw;
  }

  h2 {
    font-size: 3vw;
  }

  h3 {
    font-size: 3vw;
    margin-bottom: 0.3vw;
    margin-top: 0.3vw;
  }

  p {
    font-size: 2vw;
  }

  .content, .footer {
    padding: 0;
  }
}


