@import 'bootstrap';
@import 'fonts';

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'AmericanTypewriter';
}

h1 {
  font-size: 5.5em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2.166em;
}

p {
  font-size: 1.833em;
}

.content {
  padding: 0 2.75em;
}

.site-title {
  margin-bottom: 0;
}

.site-sub-title {
  margin-top: 0;
}

.page {
  height: 100vh;
}

.full-height {
  height: 100vh;
}

.splash-image {
  position: relative;
  background-image: url('../images/sueva.jpg');
  background-position: 50% 30%;
  background-size: cover;

  .footer {
    position: absolute;
    bottom: 20px;
    color: #fff;
    padding: 0 2.75em;
  }
}

.intro-text {
  position: relative;

  .content {
    position: absolute;
    bottom: 10vh;
  }
}
